* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: black;
  background-color: #F6F7FA;
}

a{
  text-decoration: none;
  color: #838E92;
}

.connect {
  margin-left: 0.2em;
  float:left;
  display: inline;
  text-align: left;
  font-size: 3em;
}

.nav-link a {
  text-decoration: none;
}

.connect a {
  color: #F18B00;
  font-size: 0.9em;
  margin: -0.1em;
}
.ham {
  text-align: right;
  float: right;
  font-size: 3em;
}

.fa.fa-bars {
  display: inline-block;
  margin-right: 0.2em;
}

.main-nav:hover ul {
  display: block;
}

.main-nav {
  text-align:center;
  display: inline;
  padding: 0.1em;
  font-size: 1.5em;
  float:left;
  width: 100%;
  background-color: #002939;
}
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  display: inline;
  margin-right: .2em;
  font-size: 1em;
  font-family: 'Arimo', sans-serif;
}

.nav-menu {
  text-align: center;
  display:inline;
  width:33%;
  margin-top: 14px;
  margin-right: 213px;
}

ul li {
  text-align: center;
  display: inline;
}

#myPic {
  text-align: center;
}

#myPic img{
  height: 300px;
  width: auto;
  border-radius: 15%;
  max-width: 100%;
  margin-top: 50px;
}

.project-box img {
  text-align: center;
}

#about img {
  max-width: 100%;
  margin-top: 35px;
  width: 150px;
  height: auto;
  border-radius: 10%;
}

@media screen and (min-width: 420px) {
   .fa.fa-bars {
     display: none;
   }
   .main-nav ul{
     display: inline-block;
   }
   .main-nav ul, li {
     display: inline-block;
     font-size: 1em;
     padding: .5em 0 .5em 0;
   }
   .main-nav:hover ul, li {
     display: inline-block;
   }
   .nav-menu {
     text-align: center;
     display:inline;
     width:33%;
     margin-top: 14px;
     margin-right: 213px;
   }
}
